@font-face {
    font-family: 'StarJedi';
    src: url('../fonts/StarJedi-DGRW.ttf');
}

.movies{
    display: flex;
    flex-direction: column;
    width: 800px;
    font-family: 'StarJedi', sans-serif;
    margin: 0 auto;

}